<% content_for :title, "Profile list" %>

<h1>Profile list</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Created_at</th>
      <th>Updated_at</th>
    </tr>
  </thead>
  <tbody>
    <% @profile.each do |profile| %>
    <tr>
      <td><%= profile.sex %></td>
      <td><%= profile.date_of_birth %></td>
      <td><%= profile.address %></td>
      <td><a>Delete</a></td>
    <% end %>
  </tbody>
</table>
<style>

  html {
    height: 100%;
  }

  body {
    height: 100%;
  }

  table {
    border: 1px solid black;
    width: 50%%;
  }

  th, td {
    padding: 8px;
    text-align: center;
  }
  
  thead {
    background-color: aliceblue;
  }

</style>
