<h1 class='container d-flex justify-content-center'>USER REGISTER IN MONTHS</h1>
<div class='row g-4 mb-4 p-4' >
  <div class='col-12'>
    <div class="card shadow-none border border-300 bg-light">
      <div class='card-body p-0 d-flex justify-content-between' >
        <div class='p-2 code-to-copy'>
          <h3>Customer</h3>
          <p style='color:rgb(82, 91, 117)'>Pham Phi Hoan dep trai number1</p>
        </div>
        <div class=' py-4 px-2 d-flex align-items-center' >
          <input type = "date" name = "date" class='mx-2 form-control'>  
          <input type = "date" name = "date" class='form-control'>  
        </div>
      </div>
      <div class=' d-flex justify-content-center '>
        <%= pie_chart Customer.group("quarter(created_at)").count, width: "400px", height: "150px"  %>
      </div>
      <div class='p-4'>
        <% data = Customer.group("DATE_FORMAT(created_at,'%b')").count %>
        <% sorted_data = data.sort_by { |month, _| Date::ABBR_MONTHNAMES.index(month) || 0 }.to_h %>
        <%= column_chart sorted_data, colors: ["#4CB9E7"] %>
      </div>
    </div>
  </div>
</div>
