  <div class='row mt-0 p-4 ' id='statistic' >
    <div class='col-12 ' >
      <div class="cards shadow-none border" style='border-radius:10px; z-index:999;' >
        <div class='cards-body p-0 d-flex justify-content-between bg-light border-bottom' style='border-radius:10px 10px 0px 0px;'>
          <div class='p-4 code-to-copy '>
            <h2>Customer Charts</h2>
          </div>
        <div class='p-4 d-flex align-items-center '>      
          <%= form_tag(administrator_statistics_path, method: :get) do %>
          <div class="input-group date">
            <input type="text" name="filter_month" id="filter_month" class='p-2 form-control form-input ' autocomplete ='off' style='cursor: pointer; border-radius: 20px; width:190px; font-size: 20px; font-weight:600; text-align: center;' value="<%= @selected_month.join('-') %>" onchange='this.form.submit()' >
          </div>
          <% end %>
        </div>
      </div>
    <div class='p-4 bg-white border-0'style='border-radius:0px 0px 10px 10px;'>
      <% data = @sign_ups_by_day %>
        <%= area_chart data, xtitle: "#{Date::MONTHNAMES[@month]}", colors: ["#0044cc"] %>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script>
  $('#filter_month').datepicker({
    format: "yyyy-mm",
    startView: 1,
    minViewMode: 1
  })
</script>

<%= stylesheet_link_tag 'administrator/statistic' %>