<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 d-none d-sm-block sidebar-wrapper sidebar" id="navbarSupportedContent" style="width: 250px; background-color: #eef0f5;">
  <div class="d-flex flex-column align-items-start align-items-sm-start text-white min-vh-100">
    <div class="nav-body w-100 pt-3" style="overflow-y: auto; height: 800px; width:250px;overflow-x: hidden;">
      <ul class="nav-pills px-0 mb-sm-auto mb-0 align-items-sm-start" id="menu">
        <li class="nav-item w-100"> 
          <a href="#" class="nav-link align-middle w-100 mx-1">
            <i class="fa-solid fa-user-doctor" style="margin-left: 3px;"></i>
            <span class="ms-2 hide-icon">Doctors</span>
          </a>
        </li>
        <li class="nav-item w-100">
          <a href="#" class="nav-link align-middle w-100 mx-1">
            <i class="fa-regular fa-calendar-check" style="margin-left: 3px;"></i>
            <span class="ms-2 hide-icon">Bookings</span>
          </a>
        </li>
        <li class="nav-item w-100">
          <a href="/administrator/clinics" class="nav-link align-middle w-100 mx-1">
            <i class="fa-regular fa-hospital"></i>
            <span class="ms-1 hide-icon">Clinics</span>
          </a>
        </li>
        <li class="nav-item w-100">
          <a href="#" class="nav-link align-middle w-100 mx-1">
            <i class="fa-solid fa-users"></i>
            <span class="ms-1 hide-icon">Customers</span>
          </a>
        </li>
        <li class="nav-item w-100">
          <a href="/administrator/statistics" class="nav-link align-middle w-100 mx-1">
            <i class="fa-solid fa-users"></i>
            <span class="ms-1 hide-icon">Statistics</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="nav-footer" style="border-top: 1px solid #dbdee4;position: fixed; bottom: 0;height:40px;left:0;width:250px">
      <button class="mx-3 toggle-button" style="margin-top: 2px; border: none; background-color: transparent;" data-controller="toggle-button" id="toggleButton">
        <i class="fa-solid fa-arrow-left change-icon" style="margin-top: 10px;">
          <span class="ms-2 hide-icon"> Collapse View</span>
        </i>
      </button>
    </div>
  </div>
</div>
