<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 d-none d-sm-block sidebar-wrapper sidebar" id="navbarSupportedContent" style="width: 250px; border-right:1px solid #dbdee4">
  <div class="d-flex flex-column align-items-start align-items-sm-start text-white min-vh-100">
    <div class="nav-body w-100 pt-3" style="overflow-y: auto; height: 800px; width:250px;overflow-x: hidden;">
      <ul class="nav-pills px-0 mb-sm-auto mb-0 align-items-sm-start" id="menu">
        <li class="nav-item w-100"> 
          <a href="#" class="nav-link align-middle w-100 mx-1">
            <i class="fa-solid fa-user-doctor"></i>
            <span class="hide-icon" style="margin-left:10px">Doctors</span>
          </a>
        </li>
        <li class="nav-item w-100">
          <a href="#" class="nav-link align-middle w-100 mx-1">
            <i class="fa-regular fa-calendar-check"></i>
            <span class="hide-icon" style="margin-left:10px">Bookings</span>
          </a>
        </li>
        <li class="nav-item w-100">
          <a href="/administrator/clinics" class="nav-link align-middle w-100">
            <i class="fa-regular fa-hospital"></i>
            <span class="ms-2 hide-icon">Clinics</span>
          </a>
        </li>
        <li class="nav-item w-100">
<<<<<<< HEAD
          <a href="#" class="nav-link align-middle w-100">
=======
          <%= link_to administrator_customers_path, class: "nav-link align-middle w-100 mx-1" do %>
>>>>>>> aba0368 ([issue 44] CRUD customers and search)
            <i class="fa-solid fa-users"></i>
            <span class="ms-1 hide-icon">Customers</span>
          <% end %>
        </li>
        <li class="nav-item w-100">
          <a href="/administrator/tags" class="nav-link align-middle w-100 mx-1">
            <i class="fa-solid fa-tag"></i>
            <span class="ms-1 hide-icon">Tagging</span>
          </a>
        </li>
        <li class="nav-item w-100">
          <a href="#" class="nav-link align-middle w-100 mx-1">
            <i class="fa-solid fa-chart-line"></i>
            <span class="hide-icon" style="margin-left:7px">Statistics</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="nav-footer" style="border-top: 1px solid #dbdee4;position: fixed; bottom: 0;height:40px;left:0;width:250px">
      <button class="mx-3 toggle-button" style="margin-top: 2px; border: none; background-color: transparent;" data-controller="toggle-button" id="toggleButton">
        <i class="fa-solid fa-arrow-left change-icon" style="margin-top: 10px; color: #737881;">
          <span class="ms-2 hide-icon" style="color: #737881;"> Collapse View</span>
        </i>
      </button>
    </div>
  </div>
</div>
