<h1>Blog home page</h1>

<div><%= button_to 'Create a new blog', new_blog_path, method: :get %></div>

<div>
<% @blogs.each do |blog| %>
  <h2><%= link_to blog.title, blog_path(blog.id) %></h2>
  <%= blog.content %>
  <% end %>
</div>


