<div class="modal fade" id="addModal<%=clinic.id%>" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Picture</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" data-controller="clinic">
        <div class="form-label">Upload Your Pictures</div>
        <div data-controller="dropzone" class="dropzone dz-clickable" data-dropzone-user-id-value="<%= clinic.id %>">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <div class="form-actions" style="text-align:right">
          <%= form.submit 'Save' , class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>