<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Region</th>
      <th>Faculity</th>
    </tr>
  </thead>
  <tbody>
    <% clinics.each do |clinic| %>
      <%= render "clinic", clinic: clinic %>
    <% end %>
  </tbody>
</table>
  
<%== pagy_bootstrap_nav(pagy) %>