@import '../variables';
body{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  header {
    min-height: 5vh;
    // background: $primary-color;
  }
  footer {
    min-height: 5vh;
    // background: $primary-color;
  }
  aside {
    float: right;
  }
}
.container{
  min-height: 90vh;
  flex: 1;
  .table {
    min-height: 70vh;
  }
}

