<div id="table-admin">
  <section class="container" style="height: 86vh; padding-top: 24px;">
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% tags.each do |tag| %>
          <tr>
            <td>
              <%= link_to administrator_tag_path(tag), class: 'text-decoration-none' do %>
                <span class="fw-bold"><%= tag[:name] %></span>
              <% end %>            
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
