<div class="my-5">
  <footer class="text-center text-lg-start ">
    <div class=" p-4 pb-0  bg-light ">
      <section class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0 ">
            <div class="logo__footer d-flex align-items-center">
              <%= image_tag 'clinic' %>
              <h5 class=" px-2 text-uppercase d-flex align-items-center mt-4">HOPEE</h5>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Molestiae modi cum ipsam ad, illo possimus laborum ut
              reiciendis obcaecati. Ducimus, quas. Corrupti, pariatur eaque?
              Reiciendis assumenda iusto sapiente inventore animi?
            </p>
          </div>

          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h6 class="text-uppercase">ABOUT</h6>
            <ul class="list-unstyled mb-0">
              <li>
                <p>Carrers</p>
              </li>
              <li>
                <p>Afflicate Program</p>
              </li>
              <li>
                <p>Privacy Policy</p>
              </li>
              <li>
                <p>Terms & Conditions</p>
              </li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h6 class="text-uppercase">CONNECTED</h6>
            <ul class="list-unstyled mb-0 social__icon">
              <li >
               <span><i class="fa-brands fa-facebook"></i>Facebook</span>
              </li>
              <li>
                <span><i class="fa-solid fa-envelope"></i>Email</span>
              </li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h6 class="text-uppercase ">DOCTOR</h6>
            <ul class="list-unstyled mb-0 social__icon">
              <li>
                 <span><i class="fa-solid fa-location-dot"></i>Ho Chi Minh City</span>
              </li>
              <li>
                 <span><i class="fa-solid fa-location-dot"></i>Ha Noi</span>
              </li>
              <li>
                 <span><i class="fa-solid fa-location-dot"></i>Nha Trang City</span>
              </li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h6 class="text-uppercase">PAYMENT</h6>
            <ul class="list-unstyled mb-0">
              <li>
                <p>Cash on Delivery</p>
              </li>
              <li>
                <p>Palpay</p>
              </li>
              <li>
                <p>Momo</p>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>

    <div class="p-3 container" style="background-color: #fff">
        © 2023 Copyright:
      <a class="text-black" href="#">Hopee.com</a>
    </div> 
  </footer>
</div>
