<section class="bg-100 dark__bg-1100 py-5 bg-light" id="footer">
  <div class="container-sm">
    <div class="row justify-content-between gy-4">
      <div class="col-12 col-lg-4">
        <div class="logo__footer d-flex align-items-center mb-3">
          <%= image_tag 'clinic' %>
            <p class="logo-text ms-2">Hope</p>
        </div>
        <p class="text-700 mb-1 fw-semi-bold lh-sm fs--1">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Molestiae modi cum ipsam ad, illo possimus laborum ut
          reiciendis obcaecati. Ducimus, quas. Corrupti, pariatur eaque?
          Reiciendis assumenda iusto sapiente inventore animi?</p>
      </div>
      <div class="col-6 col-md-auto">
        <h5 class="fw-bolder mb-3">About Hopee</h5>
        <div class="d-flex flex-column">
          <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Careers</a>
          <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Affiliate Program</a>
          <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Privacy Policy</a>
          <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Terms &amp; Conditions</a>
        </div>
      </div>
      <div class="col-6 col-md-auto">
        <h5 class="fw-bolder mb-3">Stay Connected</h5>
        <div class="d-flex flex-column">
          <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Blogs</a>
          <a class="mb-1 fw-semi-bold fs--1 d-flex" href="#!">
            <i class="fa-brands fa-facebook"></i>
            <span class="text-800">Facebook</span>
          </a>
          <a class="mb-1 fw-semi-bold fs--1 d-flex" href="#!">
            <i class="fa-solid fa-envelope"></i>
            <span class="text-800">Email</span>
          </a>
        </div>
      </div>
      <div class="col-6 col-md-auto">
        <h5 class="fw-bolder mb-3">Customer Service</h5>
        <div class="d-flex flex-column">
          <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Help Desk</a>
          <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Support, 24/7</a>
          <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Community of Phoenix</a>
        </div>
      </div>
      <div class="col-6 col-md-auto">
        <h5 class="fw-bolder mb-3">Payment Method</h5>
        <div class="d-flex flex-column">
          <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Cash on Delivery</a>
          <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Online Payment</a>
          <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">PayPal</a>
          <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Installment</a>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class='footer '>
  <div class="p-3 container-fluid d-flex justify-content-start align-items-center " style="background-color: #fff">
    © 2023 Copyright:
    <a class="text-black" href="#">Hopee.com</a>
  </div> 
</footer>
