<section class='py-0 bg-light'>
  <div class="container-sm p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-0">
      <div class="row container-sm p-0">
        <div class="logo__header col-auto d-flex align-center">
          <%= image_tag 'clinic' %>
          <span class='ms-3 fw-bold d-flex align-items-center' >CLINIC HOPEE</span> 
        </div>
        <div class="col-auto order-md-1">
          <ul class='navbar-nav navbar-nav-icons flex-row me-n2'>
            <li class='nav-item cart__icon'>
              <i class="fa-solid fa-cart-shopping"></i>
            <span class='badge'>1</span>
            </li>
            <li class="nav-item dropdown bell__icon">
              <i class="fa-solid fa-bell"></i>
            <span class='badge'>1</span>
            </li>
            <li class="nav-item dropdown"><i class="fa-solid fa-user"></i></li>
          </ul>
        </div>

        <div class="col-12 col-md-6">
          <div class="form">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control form-input" placeholder="Search ...">
            <span class="left-pan"><i class="fa fa-microphone"></i></span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>
