<div class="search-form">
  <% if @q %>
    <%= search_form_for @q, url: @url, data: { turbo_frame: 'container-frame' } do |f| %>
    <i class="fa-solid fa-magnifying-glass"></i>
    <%= f.search_field @queries, placeholder: 'Search Anything ....',class: "form-control form-input" %>
    <% end %>
  <% end %>
</div>

<style>
  .search-form{
    position: relative;
  }
  .search-form .fa-magnifying-glass{
    position: absolute;
    top:17px;
    left: 17px;
  }
  .form-input{
    border: none;
    height: 50px;
    text-indent: 35px;
    border-radius: 15px;
}
  .form-input:focus{
    box-shadow: none;
  }
</style>
