<div class="container-fluid p-0" data-controller="customer">
  <!-- navbar -->
  <div class="container-small  white top-menu d-flex align-items-center">
    <div class="px-0 container white d-flex justify-content-between mt-0">
      <div class="d-flex justify-content-between align-items-center category position-relative" id="popupTrigger">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list-ul"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
          </svg>
        </div>
        <p class="menu-category black">Category</p>
        <div class="popup-table hidden-popup">
          <div class="contain">
            <div class="d-flex justify-content-start table-response flex-wrap">
              <!--item -->
              <div class="d-flex flex-column justify-content-around popup-item-title">
                <div class="d-flex align-items-center my-3 ml--1">
                  <i class="px-2 fa-brands fa-pushed popup-item-icon"></i>
                  <strong class="mb-0">Collectibles & Art</strong>
                </div>
                <p class="popup-item py-2 ">Collectibles</p>
                <p class="popup-item py-2 ">Antiques</p>
                <p class="popup-item py-2">Sports memorabilia</p>
              </div>
              <div class="d-flex flex-column justify-content-around popup-item-title">
                <div class="d-flex align-items-center my-3 ml--1">
                  <i class="px-2 fa-brands fa-pushed popup-item-icon"></i>
                  <strong class="mb-0">Collectibles & Art</strong>
                </div>
                <p class="popup-item py-2 ">Collectibles</p>
                <p class="popup-item py-2 ">Antiques</p>
                <p class="popup-item py-2">Sports memorabilia</p>
              </div>
              <div class="d-flex flex-column justify-content-around popup-item-title">
                <div class="d-flex align-items-center  my-3">
                  <i class="px-2 fa-regular fa-bell popup-item-icon"></i>
                  <strong class="mb-0">Home & Gardan</strong>
                </div>
                <p class="popup-item py-2">Yard, Garden & Outdoor</p>
                <p class="popup-item py-2">Crafts</p>
                <p class="popup-item py-2">Home Improvement</p>
              </div>
              <div class="d-flex flex-column justify-content-around popup-item-title">
                <div class="d-flex align-items-center  my-3">
                  <i class="px-2 fa-regular fa-bell popup-item-icon"></i>
                  <strong class="mb-0">Home & Gardan</strong>
                </div>
                <p class="popup-item py-2">Yard, Garden & Outdoor</p>
                <p class="popup-item py-2">Crafts</p>
                <p class="popup-item py-2">Home Improvement</p>
              </div>
              <div class="d-flex flex-column justify-content-around popup-item-title">
                <div class="d-flex align-items-center  my-3">
                  <i class="px-2 fa-regular fa-bell popup-item-icon"></i>
                  <strong class="mb-0">Home & Gardan</strong>
                </div>
                <p class="popup-item py-2">Yard, Garden & Outdoor</p>
                <p class="popup-item py-2">Crafts</p>
                <p class="popup-item py-2">Home Improvement</p>
              </div>
            </div>
            <div class="horizontal-line mt-3"></div>
            <a href="/customers" class="d-flex justify-content-center align-self-center text-decoration-none my-4">
              <span class="px-2 primary hv-underline categories-link chevron-link">See all Categories</span>
              <i class="fa-solid fa-chevron-right primary chevron-icon"></i>
            </a>
          </div>
        </div>
      </div>
      <ul class="d-flex justify-content-around navbar-list align-items-center mb-0 list-unstyled">
        <li class="active-navbar navbar-item px-3">Home</li>
        <li class="navbar-item px-3">My Favorites Stores</li>
        <li class="navbar-item px-3">Products</li>
        <li class="navbar-item px-3">Wishlist</li>
        <li class="navbar-item px-3">Shipping Info</li>
        <li class="navbar-item px-3">Be a vendor</li>
        <li class="navbar-item px-3">Track order</li>
        <li class="navbar-item pl-3">Checkout</li>
        <li class="navbar-item pl-3 more position-relative" id="more">
          More<i class="fa-solid fa-chevron-down px-1"></i>
          <div class="table-responsive hidden-table">
            <div class="table position-absolute d-flex flex-column py-3">
              <p class="border-0 dropdown-item px-3 py-2">My Favorites Store</p>
              <p class="border-0 dropdown-item px-3 py-2">Products</p>
              <p class="border-0 dropdown-item px-3 py-2">Wishlist</p>
              <p class="border-0 dropdown-item px-3 py-2">Shipping info</p>
              <p class="border-0 dropdown-item px-3 py-2">Be a vendor</p>
              <p class="border-0 dropdown-item px-3 py-2">Track order</p>
              <p class="border-0 dropdown-item px-3 py-2">Check out</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
