<div class="container-fluid p-0">
  <!-- navbar -->
  <div class="container-small p-0 white top-menu d-flex align-items-center">
    <div class="px-0 container white d-flex justify-content-between mt-0">
      <div class="d-flex justify-content-between align-items-center category position-relative"
        data-controller="customer" id="popupTrigger">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list-ul"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
          </svg>
        </div>
        <p class="menu-category black">Category</p>
        <div class="popup-table hidden-popup py-5 px-1">
          <div class="d-flex justify-content-around table-response">
            <!--item -->
            <div class="d-flex flex-column justify-content-around">
              <div class="d-flex align-items-center my-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2088fc"
                  class="bi bi-ticket-perforated me-2" viewBox="0 0 16 16">
                  <path
                    d="M4 4.85v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9H4m7 0v.9h1v-.9h-1m-7 1.8v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9zm7 0v.9h1v-.9z" />
                  <path
                    d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3zM1 4.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1.05a2.5 2.5 0 0 0 0 4.9v1.05a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-1.05a2.5 2.5 0 0 0 0-4.9z" />
                </svg>
                <strong class="mb-0">Collectibles</strong>
              </div>
              <p class="popup-item py-3">Collectibles & Art</p>
              <p class="popup-item py-3">Collectibles</p>
              <p class="popup-item py-3">Collectibles</p>
            </div>
            <div class="d-flex flex-column justify-content-around">
              <div class="d-flex align-items-center my-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2088fc"
                  class="bi bi-ticket-perforated me-2" viewBox="0 0 16 16">
                  <path
                    d="M4 4.85v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9H4m7 0v.9h1v-.9h-1m-7 1.8v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9zm7 0v.9h1v-.9z" />
                  <path
                    d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3zM1 4.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1.05a2.5 2.5 0 0 0 0 4.9v1.05a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-1.05a2.5 2.5 0 0 0 0-4.9z" />
                </svg>
                <strong class="mb-0">Collectibles</strong>
              </div>
              <p class="popup-item py-3">Collectibles & Art</p>
              <p class="popup-item py-3">Collectibles</p>
              <p class="popup-item py-3">Collectibles</p>
            </div>
            <div class="d-flex flex-column justify-content-around">
              <div class="d-flex align-items-center my-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2088fc"
                  class="bi bi-ticket-perforated me-2" viewBox="0 0 16 16">
                  <path
                    d="M4 4.85v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9H4m7 0v.9h1v-.9h-1m-7 1.8v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9zm7 0v.9h1v-.9z" />
                  <path
                    d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3zM1 4.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1.05a2.5 2.5 0 0 0 0 4.9v1.05a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-1.05a2.5 2.5 0 0 0 0-4.9z" />
                </svg>
                <strong class="mb-0">Collectibles</strong>
              </div>
              <p class="popup-item py-3">Collectibles & Art</p>
              <p class="popup-item py-3">Collectibles</p>
              <p class="popup-item py-3">Collectibles</p>
            </div>
          </div>
          <a href="/customers" class="d-flex justify-content-center mt-5 text-decoration-none">
            <span class="px-3 primary">See all Categories</span>
            <i class="fa-solid fa-chevron-right primary"></i>
          </a>
        </div>
      </div>
      <ul class="d-flex justify-content-around align-items-center mb-0 list-unstyled">
        <li class="active-navbar navbar-item px-3">Home</li>
        <li class="navbar-item px-3">My Favorites Stores</li>
        <li class="navbar-item px-3">Products</li>
        <li class="navbar-item px-3">Wishlist</li>
        <li class="navbar-item px-3">Shipping Info</li>
        <li class="navbar-item px-3">Be a vendor</li>
        <li class="navbar-item px-3">Track order</li>
        <li class="navbar-item pl-3">Checkout</li>
        <li class="navbar-item pl-3 hidden-item">
          More<i class="fa-solid fa-chevron-down px-1"></i>
        </li>
      </ul>
    </div>
  </div>
</div>