$toggle-background-color-on: dodgerblue;
$toggle-background-color-off: darkgray;
$toggle-control-color: white;
$toggle-width: 100px;
$toggle-height: 50px;
$toggle-gutter: 5px;
$toggle-radius: 50%;
$toggle-control-speed: 0.15s;
$toggle-control-ease: ease-in;

// These are our computed variables
// change at your own risk.
$toggle-radius: $toggle-height / 2;
$toggle-control-size: $toggle-height - ($toggle-gutter * 2);

.toggle-control {
  display: block;
  position: relative;
  padding-left: $toggle-width;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;

  input {
    // position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked ~ .control {
    background-color: $toggle-background-color-on;

    &:after {
      left: $toggle-width - $toggle-control-size - $toggle-gutter;
    }
  }

  .control {
    // position: absolute;
    top: 0;
    left: 0;
    height: $toggle-height;
    width: $toggle-width;
    border-radius: $toggle-radius;
    background-color: $toggle-background-color-off;
    transition: background-color $toggle-control-speed $toggle-control-ease;

    &:after {
      content: "";
      //   position: absolute;
      left: $toggle-gutter;
      top: $toggle-gutter;
      width: $toggle-control-size;
      height: $toggle-control-size;
      border-radius: $toggle-radius;
      background: $toggle-control-color;
      transition: left $toggle-control-speed $toggle-control-ease;
    }
  }
}

.form-control:focus {
  box-shadow: none;
}

.form-control {
  height: 35px;
}

.profile-button {
  background: #ba68c8;
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #682773;
}

.profile-button:focus {
  background: #682773;
  box-shadow: none;
}

.profile-button:active {
  background: #682773;
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.unstyled-link,
.unstyled-link:hover,
.unstyled-link:active,
.unstyled-link:focus {
  text-decoration: none;
  color: inherit;
}
.file-input {
  display: none;
}

/* Style the custom file upload container */
.file-upload-container {
  display: inline-block;
  border: 2px solid #3498db;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

/* Style the file upload label */
.file-upload-label {
  color: #3498db;
  font-weight: bold;
  cursor: pointer;
}

/* Style the selected files container */
.selected-files {
  margin-top: 10px;
  font-style: italic;
  color: #555;
}
// .dz-progress {
//   display: none;
// }

.preview-image {
  width: 200px;
  height: 200px;
  padding: 10px;
}
.image-container {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  .close-icon:hover {
    cursor: pointer;
    // color:#0d6efd;
  }
  .close-icon {
    position: absolute;
    top: 0;
    right: -2%;
    color: red;
    font-size: 20px;
  }
}
.btn-custom {
  color: red;
  button {
    border: 0;
    background-color: white;
    padding: 0;
    width: 100%;
    text-align: left;
  }
  &:hover {
    color: red;

    background-color: #e9ecef !important;
  }
  &:hover button {
    background-color: #e9ecef !important;
  }
}

#top-table {
  height: 150px;
  #search-form {
    .search-field-clinic {
      border-radius: 5px;
      border: 1px solid #ddd;
    }
    .search-icon {
      background-color: #fff;
      border: 1px solid #ccc;
      margin-left: 10px;
      position: absolute;
      margin-left: 360px;
      border-left: none;
      border-radius: none;
    }
    .select-wrapper {
      margin-left: 10px;
      position: relative;
      width: 350px;
      .choices {
        margin-bottom: 0;
      }
      .choices__inner {
        height: 50px;
        overflow-y: auto;
      }
      .choices__list--multiple .choices__item {
        background-color: green;
        font-size: 14px;
      }
    }
    .filter-btn {
      margin-bottom: 5px;
      position: absolute;
      right: 5px;
      top: 10px;
    }
  }
  font-family: Georgia, "Times New Roman", Times, serif;
}

#sort-link {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  &:hover {
    color: #000;
    text-decoration: none;
  }
}

.col-id {
  width: 100px;
  padding-left: 50px !important;
}

.col-name {
  padding-left: 20px !important;
  width: 180px;
}

.col-action {
  padding-right: 20px !important  ;
  width: 100px;
  #btn-action {
    float: right;
    margin-right: 30px;
  }
}

.col-address {
  width: 150px;
}

.table-col-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-action {
  // transform: translate3d(-50px, 260px, 0px) !important;
  margin-right: 40px !important;
}

@media (max-width: 757px) {
  .btn-del-cus {
    display: none;
  }
  .wrapper-feature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    .btn-create {
      margin-left: 100px;
    }
  }
  #top-table {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 757px) and (max-width: 1800px) {
  .wrapper-feature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  #top-table {
    margin-bottom: 60px !important;
  }
}

.image-contain {
  border-radius: 10px;
  border: 2px solid #e3e6ed;
}
.d-flex {
  h2 {
    font-weight: bold;
  }
  .hover:hover {
    background-color: #e3e6ed;
  }
  .fw {
    font-weight: 600;
  }
}
.not-image {
  border-radius: 10px;
}

.border-10 {
  border-radius: 10px;
  border: 2px solid #e3e6ed;
}
.text-back {
  font-weight: 600;
}
.img-clinic {
  width: 100%;
  height: 100%;
}
.space {
  margin-bottom: 40px;
}
