.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.link {
  margin-left: 2px;
}
.fullVH {
  height: 100vh;
}
.toast-custom {
  top: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 10px;
}
