#admin-pages {
  .nav-item {
    &:hover,
    &:active {
      .nav-link {
        background-color: #dcdfe3 !important;
      }
    }
  }

  .hidden {
    display: none;
  }

  .viewbtn {
    text-decoration: none;
    color: black;
    margin-top: 5px;
  }

  .content {
    flex-grow: 1;
    overflow: hidden;
  }

  span {
    font-weight: lighter;
    font-size: 17px;
  }

  .nav-pills {
    .nav-link {
      color: black;
    }
  }

  .body-content {
    position: relative;
    max-width: calc(100% - 250px);
  }

  @media (max-width: 575px) {
    .body-content {
      position: relative;
      width: 100%;
    }
  }

  .body-footer {
    position: absolute;
    bottom: 0;
    border-top: 1px solid #dbdee4;
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: center;
  }

  .content-controller {
    min-height: 90vh;
    width: 100%;
  }
}

.toast {
  right: -20px;
  margin-top: 10px;
  z-index: 9999;
}

.toast-animation {
  animation: show_toast 0.3s ease forwards;

  .btn-close:focus {
    box-shadow: none;
  }
}

.cursor-pointer {
  cursor: default;
}

@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(-5%);
  }

  80% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-10%);
  }
}

.toast::before {
  position: absolute;
  bottom: -1px;
  left: auto;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  content: "";
  width: 100%;
  height: 4px;
  animation: timeOut 5s linear 1 forwards;
}

@keyframes timeOut {
  to {
    width: 0%;
  }
}
