#admin-pages{
  .nav-item {
    &:hover, &:active {
      .nav-link {
        background-color: #dcdfe3 !important;
      }
    }
  }

  .hidden {
    display: none;
  }

  .viewbtn {
    text-decoration: none;
    color: black;
    margin-top: 5px;
  }

  .content {
    flex-grow: 1;
    overflow: hidden;
  }

  span {
    font-weight: lighter;
    font-size: 17px;
  }

  .nav-pills {
    .nav-link {
      color: black;
    }
  }

  .body-content {
    position: relative;
    max-width: calc(100% - 250px);
  }

  @media (max-width: 575px) {
    .body-content {
      position: relative;
      width: 100%;
    }
  }

  .body-footer {
    position: absolute;
    bottom: 0;
    border-top: 1px solid #dbdee4;
    padding-bottom:7px;
    padding-top:7px;
    text-align:center;
  }

  .content-controller {
    min-height: 90vh;
    width: 100%;
  }
}
