#table-admin {
  .avatar {
    width: 45px;
    height: 45px;
  }

  .border-bottom {
    border-bottom: 1px dashed #cbd0dd00;
  }

  .btn-del-cus {
    font-size: 13px;
  }

  .btn-del-cus {
    font-size: 14px;
  }

  .edit-fs-15 {
    font-size: 15px;
  }

  .avatar-show {
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .infor-title {
    font-size: 16px;
  }
}
