<div class="container position-absolute top-50 start-50 translate-middle shadow-lg rounded-3 text-center" style="width: calc(5em * 5);">
<div class="px-3 pt-5 pb-4">
<form>
  <div class="mb-3">
    <input type="email" class="form-control rounded-4 bg-secondary-subtle text-center py-3" placeholder="login">
    
  </div>
  <div class="mb-3">
    <input type="password" class="form-control rounded-4 p-3 bg-secondary-subtle text-center py-3" placeholder="Password">
  </div>
  
  <div class="d-grid col-5 mx-auto mb-4">
    <button class="btn btn-info rounded-3 py-2" type="button">LOG IN</button>
  </div>
</form>
</div>
</div>