<br>
<h1>Listing Jobs</h1>
<%= render partial: 'shared/flash'%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Job Tag</th>
      <th>Country</th>
      <th>Job Category ID</th>
      <th>Job Description</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'table_line', collection: @records, as: :job_tag %>
  </tbody>
</table>

