//= require "../style/css/vendor/jquery-jvectormap-1.2.2"
//= require "../style/css/vendor/fullcalendar.min"
//= require "../style/css/icons.min"
//= require "../style/css/app.min"
//= require "../style/css/style"
