<div class="container-fluid">
<%= render partial: 'administrator/shared/partials/page_title' %>
</div>
<%= render partial: 'administrator/admins/partials/form', locals: { method: :put, url: administrator_admin_path(@admin) } %>
