<div class="container-fluid">
<%= render partial: 'administrator/shared/partials/page_title' %>
</div>
<%= render partial: 'administrator/admins/partials/form', locals: { method: :post, url: administrator_admins_url } %>
