<div class="row">
  <div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
      <h4 class="page-title mb-0 font-weight-bold">Admins</h4>
      <div class="breadcrumb m-0 d-flex align-items-center">
        <%= render_breadcrumbs :separator => '<span class="sep"> > </span>' %>
      </div>
    </div>
  </div>
</div>
