<%= turbo_frame_tag 'accounts-frame' do %>
  <h1>Account Dashboard</h1>
  <div id="not-exist-accounts-search"></div>
  <div id="list-accounts">
    <%= turbo_frame_tag 'search_results' do %>
      <%= render partial: 'account_table' %>
    <% end %>
  </div>
  <div id="pagination-container">
    <%= render partial: 'admins/pagination' %>
  </div>
<% end %>
