<div class="container mx-auto px-5 pt-3 my-5 py-5 shadow-lg text-center" style="width: calc(6em * 6);">
  <h1>Account information</h1>
    <div class="row g-2 align-items-center">
      <div class="col-auto">
        <label for="inputPassword6" class="col-form-label fs-3">Email:</label>
      </div>
      <div class="col-auto">
        <div class="fs-3"><%= @account.email %></div>
      </div>
    </div>
    
    <div class="row g-2 align-items-center">  
      <div class="col-auto">
        <label for="inputPassword6" class="col-form-label fs-3">Phone:</label>
      </div>
      <div class="col-auto">
        <div class="fs-3"><%= "phone:" + @account.phone %></div>
      </div>
    </div>

    <div class="row g-2 align-items-center">  
      <div class="col-auto">
        <label for="inputPassword6" class="col-form-label fs-3">Role:</label>
      </div>
      <div class="col-auto">
        <div class="fs-3"><%= @account.role %></div>
      </div>
    </div>

    <td><%= button_to 'Back to Accounts List', admins_accounts_path, class: 'btn btn-secondary',method: 'get', data: {turbo: false}%></td>
  </div>
</div>