<h1>account info</h1>

<div>
    <%= "email:"+  @account.email %>
    <br>
    <%= "phone:" + @account.phone %>
    <br>
    <%= "role:" + @account.role %>
    <br>
    <td><%= button_to 'Back to Accounts List', admins_accounts_path, class: 'btn btn-secondary',method: 'get', data: {turbo: false}%></td>
</div>
