body {
  font-family: 'Nunito Sans';font-size: 22px;
  text-decoration: none;
}

h5 {
  font-size: 1em;
}
h6 {
  font-size: .8rem;
}
p {
  font-size:.7rem;
}
a {
  text-decoration: none;
}
i {
  cursor: pointer;
}

