li {
  list-style: none;
}
p {
  margin: 0 !important;
}
.primary {
  color: #2088fc;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 14px;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  padding-left: 0;
  background-color: #f5f7fa !important;
}
.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff; /* Background color for the circle */
  right: 8px;
  top: 8px;
  border: 2px solid #2088fc;
  overflow: hidden;
}
.star-rate {
  line-height: 16px;
  margin-left: 10px;
}
.card-text {
  font-weight: bold;
}

.card:hover .card-title {
  color: #2088fc;
  text-decoration: underline;
}
.card:hover {
  cursor: pointer;
}

.circle:hover {
  background-color: #2088fc;
}
.circle:hover svg {
  fill: #fff;
}
.menu-item {
  border-radius: 5px;
  background-color: #e5edff;
}
.active-menu {
  background-color: #ffefca;
}
.active-navbar {
  font-weight: bold;
}
.menu-item-contain:hover .menu-item-title {
  text-decoration: underline;
}
.menu-item-contain:hover .menu-item {
  background-color: #2088fc;
}
.menu-item-contain:hover .bi {
  fill: white;
}
.menu-item-contain:hover {
  cursor: pointer;
}
.navbar-item{
  font-size: 16px;
}

.navbar-item:hover {
  font-weight: bold;
  cursor: pointer;
}

.border-15 {
  border-radius: 15px !important;
}
.card {
  border: none !important;
}
.white {
  background-color: white;
}

.category {
  width: 100px;
}
.category:hover {
  cursor: pointer;
}
.popup-table {
  display: none;
  position: absolute;
  left: 20px;
  top: 30px;
  background-color: white;
  width: 500px;
  max-height: 300px;
  min-height: 100px;
  border-radius: 10px;
  /* display: block; */
}
.category:hover .popup-table {
  display: block;
}
.popup-table:before {
  top: -18px;
  content: "";
  position: absolute;
  width: 34px;
  height: 10px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 19px solid white;
  left: 21px;
  transform: translateX(-50%);
}
body {
  font-family: "Nunito Sans";
  font-size: 22px;
  text-decoration: none;
}

/* h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.8rem;
}
p {
  font-size: 0.7rem;
}
a {
  text-decoration: none;
}
i {
  cursor: pointer;
} */
