#footer{
  a {
    text-decoration: none;
    padding: 5px;
  }
  .logo__footer {
    img {
      width: 30px;
    }
  }
  .social__icon {
    font-size: .7rem;
    i {
      font-size: 1rem;
      padding-bottom: 16px;
      padding-right: 10px;
    }
  }
  .fa-facebook {
    color: rgb(58, 58, 226);
    margin-top: 4px;
  }
  .fa-envelope {
    color: rgb(231, 76, 60);
    margin-top: 4px;
  }
  
  .fa-location-dot {
    color: rgb(39, 39, 143);
  }
  
  .footer-payment {
    padding-bottom: 16px;
    padding-right: 10px;
  }
  
  @media (min-width: 768px){
  
  }
  .text-800 {
    color: rgb(43, 43, 44)!important;
    padding-left: 5px;
  }
  
  .text-700 {
    color: rgb(43, 43, 44)!important;
  }
  
  .fs--1 {
    font-size: .9rem !important;
  }
  
  .mb-1 {
    margin-bottom: 0.25rem !important;
  }
}

.footer {
  bottom: 0;
  border-top: 1px solid #cbd0dd;
}

.footer-payment {
	padding-bottom: 16px;
	padding-right: 10px;
}

@media (min-width: 768px){
	
}
.text-800 {
	color: rgb(43, 43, 44)!important;
	padding-left: 5px;
}

.text-700 {
	color: rgb(43, 43, 44)!important;
}

.fw-semi-bold {
	font-weight: 500 !important;
}

.fs--1 {
	font-size: .9rem !important;
}

.mb-1 {
	margin-bottom: 0.25rem !important;
}

a {
	text-decoration: none;
	padding: 5px
}
