.logo__footer {
	img {
		width: 30px;
	}
}
.social__icon {
	font-size: .7rem;
	i {
		font-size: 1rem;
		padding-bottom: 16px;
		padding-right: 10px;
	}
	.fa-facebook {
		color: rgb(58, 58, 226);
	}
	.fa-envelope {
		color: rgb(231, 76, 60);
	}
}
.fa-location-dot {
	color: rgb(39, 39, 143);
}
