.login-form {
  .login-form-content {
    #title{
      font-weight: bold;
      padding-left: calc(100% - 228px);
      padding-bottom: 40px;
      font-size: 40px;
      font-family: 'Times New Roman', Times, serif;
    }

    #title-reset-password{
      font-weight: bold;
      padding-left: calc(100% - 350px);
      font-size: 35px;
      font-family: 'Times New Roman', Times, serif;
    }

    .new_customer{
      .login-input{
        width: 100%;
        margin-top: 20px;
        padding-top: 20px;
        height: 100px;
        .input-field{
          border: none;
          width: 100%;
          height: 30px;
          border-bottom: 2px solid #adadad;
          font-size: 24px;
          background: #f1f1f1;
  
        }
        .label{
          margin-bottom: 2px;
        }
      }
      .loginbtn {
        display: block;
        width: 100%;
        height: 50px;
        border: none;
        background: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
        background-size: 200%;
        color: #fff;
        outline: none;
        cursor: pointer;
        transition: 0.5s;
        font-size: 16px;
      }

      .bottom-text{
        text-align: center;
        margin-top: 40px;
        font-size: 14px;
        display: block;
      }
      width: calc(100% - 40px);
      padding-left: 30px;
    }   
    
    .back-btn {
      &:hover, &:active {
        text-decoration: none; /* Remove underline on hover */
        background-color: none; /* Make the background transparent on hover */
        outline: none; /* Remove the outline on active */
        border: none;
        background-image: none;
      }
      
      &:focus {
        outline: none;
      }

      border: none;
      background-color: transparent;
      margin-left: 65px;
      // height: 17px;
      // margin-top: 10px;
    }

    border-radius: 10px;
    height: calc(100% - 380px);
    width: 400px;
    padding-top: 50px;
    margin: auto;
    background: #f1f1f1;
  }

  .forgot-form{
    height: calc(100% - 600px);
  }

  .change-pass-form{
    height: calc(100% - 500px);
  }

  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  background-image: linear-gradient(120deg, #3498db, #8e44ad);
}

input:focus {
  outline: none;
}