@import "bootstrap-sprockets";
@import "bootstrap";
@import 'common';

.header {
  background-color: gray;
  padding: 50px 20px;
  border-bottom: 3px solid red;
  background-image: linear-gradient(to bottom, #524f4f, #494949);
}

.logo-img {
  background-color: red;
  padding: 25px;
  border-radius: 50%;
}

.nav-bar {
  .nav-link {
    color: #bcb5b5;
    font-size: 16px;
    padding: 8px 16px;
    font-weight: 500;
  }
  .nav-link:not(:last-child) {
    border-right: 1px solid #726868;
  }

  .nav-link:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .active {
    color: white
  }
}

.content {
  background-color: red;

  .title {
    font-size: 24px;
    color: white;
    font-weight: 500;
  }

  .line-bottom {
    position: relative;
    height: 8px;
    width: 100%;
    background-color: white;

    // &::after {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   border-color: black transparent;
    //   border-style: solid;
    //   border-width: 20px 20px 0px 20px;
    //   height: 0px;
    //   width: 0px;
    // }
  }

  .line-bottom::after {
    content: "";
    position: absolute;
    top: 0.75rem;
    left: 3rem;
    border-color: white transparent;
    border-style: solid;
    border-width: 10px 10px 0px 10px;
    height: 0px;
    width: 0px;
  }
}
