<!-- Left sidebar start -->
<div class="leftside-menu">
  <!-- LOGO -->
  <a href="#" class="logo text-center logo-light">
  <span class="logo-lg">
  <img src="assets/style/images/zyro-image.png" alt="" height="66">
  </span>
  <span class="logo-sm">
  <img src="assets/style/images/zyro-image.png" alt="" height="66">
  </span>
  </a>
  <!-- LOGO -->
  <a href="#" class="logo text-center logo-dark">
  <span class="logo-lg">
  <img src="assets/style/images/zyro-image.png" alt="" height="66">
  </span>
  <span class="logo-sm">
  <img src="assets/style/images/zyro-image.png" alt="" height="66">
  </span>
  </a>
  <div class="h-100" id="leftside-menu-container" data-simplebar="">
    <!--- Sidemenu -->
    <ul class="side-nav">
      <li class="side-nav-title side-nav-item">Navigation</li>
      <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="#sidebarDashboards" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
        <i class="uil-home-alt"></i>
        <span class="badge bg-success float-end">4</span>
        <span> Dashboards </span>
        </a>
        <div class="collapse" id="sidebarDashboards">
          <ul class="side-nav-second-level">
            <li>
              <a href="#">Analytics</a>
            </li>
            <li>
              <a href="#">CRM</a>
            </li>
            <li>
              <a href="#">Ecommerce</a>
            </li>
            <li>
              <a href="#">Projects</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="side-nav-title side-nav-item">Apps</li>
      <li class="side-nav-item">
        <a href="#" class="side-nav-link">
        <i class="uil-calender"></i>
        <span> Calendar </span>
        </a>
      </li>
      <li class="side-nav-item">
        <a href="#" class="side-nav-link">
        <i class="uil-comments-alt"></i>
        <span> Chat </span>
        </a>
      </li>
      <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="#sidebarEcommerce" aria-expanded="false" aria-controls="sidebarEcommerce" class="side-nav-link">
        <i class="uil-store"></i>
        <span> Ecommerce </span>
        <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarEcommerce">
          <ul class="side-nav-second-level">
            <li>
              <a href="#">Products</a>
            </li>
            <li>
              <a href="#">Products Details</a>
            </li>
            <li>
              <a href="#">Orders</a>
            </li>
            <li>
              <a href="#">Order Details</a>
            </li>
            <li>
              <a href="#">Customers</a>
            </li>
            <li>
              <a href="#">Shopping Cart</a>
            </li>
            <li>
              <a href="#">Checkout</a>
            </li>
            <li>
              <a href="#">Sellers</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="#sidebarEmail" aria-expanded="false" aria-controls="sidebarEmail" class="side-nav-link">
        <i class="uil-envelope"></i>
        <span> Email </span>
        <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarEmail">
          <ul class="side-nav-second-level">
            <li>
              <a href="#">Inbox</a>
            </li>
            <li>
              <a href="#">Read Email</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="#sidebarProjects" aria-expanded="false" aria-controls="sidebarProjects" class="side-nav-link">
        <i class="uil-briefcase"></i>
        <span> Projects </span>
        <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarProjects">
          <ul class="side-nav-second-level">
            <li>
              <a href="#">List</a>
            </li>
            <li>
              <a href="#">Details</a>
            </li>
            <li>
              <a href="#">Create Project <span class="badge rounded-pill badge-success-lighten font-10 float-end">New</span></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="#sidebarTasks" aria-expanded="false" aria-controls="sidebarTasks" class="side-nav-link">
        <i class="uil-clipboard-alt"></i>
        <span> Tasks </span>
        <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarTasks">
          <ul class="side-nav-second-level">
            <li>
              <a href="#">List</a>
            </li>
            <li>
              <a href="#">Details</a>
            </li>
            <li>
              <a href="#">Kanban Board</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="side-nav-item">
        <a href="#" class="side-nav-link">
        <i class="uil-folder-plus"></i>
        <span> File Manager </span>
        </a>
      </li>
      <li class="side-nav-title side-nav-item">Custom</li>
      <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="#sidebarPages" aria-expanded="false" aria-controls="sidebarPages" class="side-nav-link">
        <i class="uil-copy-alt"></i>
        <span> Pages </span>
        <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarPages">
          <ul class="side-nav-second-level">
            <li>
              <a href="#">Profile</a>
            </li>
            <li>
              <a href="#">Profile 2</a>
            </li>
            <li>
              <a href="#">Invoice</a>
            </li>
            <li>
              <a href="#">FAQ</a>
            </li>
            <li>
              <a href="#">Pricing</a>
            </li>
            <li>
              <a href="#">Maintenance</a>
            </li>
            <li class="side-nav-item">
              <a data-bs-toggle="collapse" href="#sidebarPagesAuth" aria-expanded="false" aria-controls="sidebarPagesAuth">
              <span> Authentication </span>
              <span class="menu-arrow"></span>
              </a>
              <div class="collapse" id="sidebarPagesAuth">
                <ul class="side-nav-third-level">
                  <li>
                    <a href="#">Login</a>
                  </li>
                  <li>
                    <a href="#">Login 2</a>
                  </li>
                  <li>
                    <a href="#">Register</a>
                  </li>
                  <li>
                    <a href="#">Register 2</a>
                  </li>
                  <li>
                    <a href="#">Logout</a>
                  </li>
                  <li>
                    <a href="#">Logout 2</a>
                  </li>
                  <li>
                    <a href="#">Recover Password</a>
                  </li>
                  <li>
                    <a href="#">Recover Password 2</a>
                  </li>
                  <li>
                    <a href="#">Lock Screen</a>
                  </li>
                  <li>
                    <a href="#">Lock Screen 2</a>
                  </li>
                  <li>
                    <a href="#">Confirm Mail</a>
                  </li>
                  <li>
                    <a href="#">Confirm Mail 2</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="side-nav-item">
              <a data-bs-toggle="collapse" href="#sidebarPagesError" aria-expanded="false" aria-controls="sidebarPagesError">
              <span> Error </span>
              <span class="menu-arrow"></span>
              </a>
              <div class="collapse" id="sidebarPagesError">
                <ul class="side-nav-third-level">
                  <li>
                    <a href="#">Error 404</a>
                  </li>
                  <li>
                    <a href="#">Error 404-alt</a>
                  </li>
                  <li>
                    <a href="#">Error 500</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#">Starter Page</a>
            </li>
            <li>
              <a href="#">With Preloader</a>
            </li>
            <li>
              <a href="#">Timeline</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="#sidebarLayouts" aria-expanded="false" aria-controls="sidebarLayouts" class="side-nav-link">
        <i class="uil-window"></i>
        <span> Layouts </span>
        <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarLayouts">
          <ul class="side-nav-second-level">
            <li>
              <a href="#">Horizontal</a>
            </li>
            <li>
              <a href="#">Detached</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <!-- End Sidebar -->
    <div class="clearfix"></div>
  </div>
  <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->
