<div class="container">
  <div class="row">
    <div class="col-lg-12 header">
      <div class="col-lg-2">
        <span class="logo-img">image</span>
      </div>
      <div class="col-lg-10">
        <div class="row nav-bar">
            <a class="nav-link active">HOME</a>
            <span class="vertical-line"></span>
            <a class="nav-link">ABOUT US</a>
            <a class="nav-link">ACTIVE</a>
            <a class="nav-link">YOUTH GROUP</a>
            <a class="nav-link">HAKKA CULTURE</a>
            <a class="nav-link">OUR FOUNDATION</a>
            <a class="nav-link">CONTACT US</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <span>slider</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 content p-3">
      <div class="col-lg-3">
        <div class="title">UPCOMING ENVENTS</div>
        <div class="line-bottom"></div>
      </div>
      <div class="col-lg-3">
        <div class="title">RECENT ACTIVETIES</div>
        <div class="line-bottom"></div>
      </div>
      <div class="col-lg-3">
        <div class="title">YOUTH</div>
        <div class="line-bottom"></div>
      </div>
      <div class="col-lg-3">
        <span>col4</span>
      </div>
    </div>
  </div>
</div>
