<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <script>document.write(new Date().getFullYear())</script> © Hoppe - hoppe.com
      </div>
    </div>
  </div>
</footer>
