<div class="container-fluid">
    <ul class="navbar-nav flex-column">
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa-solid fa-gauge-high fa-lg"></i>
                <span class="toggle">Dashboard</span>
            </a>
        </li>
    </ul>
</div>
