<nav class="navbar navbar-expand-xl w-100">
    <div class="container-fluid">
        <div class="collapse navbar-collapse d-flex justify-content-between">
            <div class="col-lg-4">
                <%= render partial: 'shared/search_box' %>
            </div>
            <ul class="navbar-nav my-2 my-lg-0" style="--bs-scroll-height:100px;">
                <li class="nav-item">
                    <a href="#">
                        <i class="fa-regular fa-bell fa-2xl"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="">
                        <i class="fa-regular fa-circle-user fa-2xl ms-3"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
