<% provide(:title, "Product") %>
<h1>Product List</h1>
<% @products.each do |product| %>
    <div class="entry">
        <h3><%= product.product_name %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
            <span class="price"><%= number_to_currency(product.price) %></span> 
            <button><%= link_to 'Check Details', product_path(product) %></button>
        </div>
    </div>
<% end %>