<div class="me-auto p-2 bd-highlight mx-4 mt-3">
  <h1 class="m-0">Doctors</h1>
  <div class="col-auto text-end" style="padding-right: 22px; padding-bottom: 15px;">
        <%= link_to new_administrator_doctor_path, class: 'btn btn-primary' do %>
          + Create new doctor
        <% end %>
      </div>
</div>

<%= render partial: 'administrator/doctors/table', locals: { doctors: @paginated_doctors, pagy: @pagy } %>
