<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      h1 {
        color:blue;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <%= yield %>
    <h1>Title</h1>
    <div>
      <p>Đôi khi việc thêm JavaScript vào HTML một cách trực tiếp không phải là cách hay nhất.Vì có thể có trường một một vài JS scripts cần được dùng ở nhiều trang khác nhau.</p>
    </div>
  </body>
</html>
