<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="collapse-show collapse-horizontal" id="collapseExample">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light d-none d-sm-block sidebar" style="width: 250px;position:absolute; z-index:2 ;margin-left:-12px;">
            <div class="d-flex flex-column align-items-start align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100" id="menu">
                  <li class="nav-item w-100">
                    <a href="#" class="nav-link px-0 align-middle w-100">
                        <i class="fa-solid fa-user-doctor" style="margin-left: 3px;"></i> <span class="ms-2 d-sm-inline">Doctors</span></a>
                  </li>
                  <li class="nav-item w-100">
                    <a href="#" class="nav-link px-0 align-middle w-100">
                        <i class="fa-regular fa-calendar-check" style="margin-left: 3px;"></i> <span class="ms-2 d-sm-inline">Bookings</span></a>
                  </li>
                  <li class="nav-item w-100">
                    <a href="#" class="nav-link px-0 align-middle w-100">
                        <i class="fa-regular fa-hospital"></i> <span class="ms-1 d-sm-inline">Clinics</span></a>
                  </li>
                  <li class="nav-item w-100">
                      <a href="#" class="nav-link px-0 align-middle w-100">
                          <i class="fa-solid fa-users"></i> <span class="ms-1 d-sm-inline">Customers</span>
                      </a>
                  </li>
                  <button class="btn btn-outline-dark viewbtn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="margin-top: 600px; margin-left: -15px">
                    <i class="fa-solid fa-arrows-left-right-to-line"><span> Collapse View</span></i>
                  </button>
                </ul>
            </div>
          </div>
      </div>
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light d-none d-sm-block" style="width: 60px; position:absolute; z-index:1">
        <div class="d-flex flex-column align-items-start align-items-sm-start px-3 pt-2 text-white">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100" id="menu">
              <li class="nav-item w-100">
                <a href="#" class="nav-link px-0 align-middle w-100">
                    <i class="fa-solid fa-user-doctor" style="margin-left: 3px;"></i></a>
              </li>
              <li class="nav-item w-100">
                <a href="#" class="nav-link px-0 align-middle w-100">
                    <i class="fa-regular fa-calendar-check" style="margin-left: 3px;"></i></a>
              </li>
                <li class="nav-item w-100">
                  <a href="#" class="nav-link px-0 align-middle w-100">
                      <i class="fa-regular fa-hospital"></i></a>
                </li>
                <li class="nav-item w-100">
                    <a href="#" class="nav-link px-0 align-middle w-100">
                        <i class="fa-solid fa-users"></i> 
                    </a>
                </li>
              <button class="btn btn-outline-dark viewbtn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="margin-top: 606px; margin-left: -15px;">
                <i class="fa-solid fa-arrows-left-right-to-line"></i>
              </button>
            </ul>
          </div>
      </div>
  </div>
</div>
