<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="collapse show collapse-horizontal" id="collapseExample">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 d-none d-sm-block sidebar" style="width: 250px;position:absolute; z-index:2 ;margin-left:-12px;background-color:#eef0f5;">
          <div class="d-flex flex-column align-items-start align-items-sm-start text-white min-vh-100" style="position: relative;">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
              <li class="nav-item w-100">
                <a href="#" class="nav-link align-middle w-100">
                  <i class="fa-solid fa-user-doctor" style="margin-left: 3px;"></i>
                  <span class="ms-2 d-sm-inline">Doctors</span>
                </a>
              </li>
              <li class="nav-item w-100">
                <a href="#" class="nav-link align-middle w-100">
                  <i class="fa-regular fa-calendar-check" style="margin-left: 3px;"></i>
                  <span class="ms-2 d-sm-inline">Bookings</span>
                </a>
              </li>
              <li class="nav-item w-100">
                <a href="#" class="nav-link align-middle w-100">
                  <i class="fa-regular fa-hospital"></i>
                  <span class="ms-1 d-sm-inline">Clinics</span>
                </a>
              </li>
              <li class="nav-item w-100">
                <a href="#" class="nav-link align-middle w-100">
                  <i class="fa-solid fa-users"></i>
                  <span class="ms-1 d-sm-inline">Customers</span>
                </a>
              </li>
              <a href="#" class="pt-3 px-2 viewbtn w-100" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                <i class="fa-solid fa-arrow-left">
                  <span class="ms-3"> Collapse View</span>
                </i>
              </a>
            </ul>
          </div>
        </div>
    </div>
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 d-none d-sm-block" style="width: 60px; height:100%;position:absolute; z-index:1;background-color:#eef0f5;">
      <div class="d-flex flex-column align-items-start align-items-sm-start text-white">
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100" id="menu">
            <li class="nav-item w-100">
              <a href="#" class="nav-link px-0 align-middle w-100">
                  <i class="fa-solid fa-user-doctor" style="margin-left: 15px;"></i></a>
            </li>
            <li class="nav-item w-100">
              <a href="#" class="nav-link px-0 align-middle w-100">
                  <i class="fa-regular fa-calendar-check" style="margin-left: 15px;margin-top:5px"></i></a>
            </li>
              <li class="nav-item w-100">
                <a href="#" class="nav-link px-0 align-middle w-100"style="margin-left: 12px; margin-top:1px">
                    <i class="fa-regular fa-hospital"></i></a>
              </li>
              <li class="nav-item w-100">
                  <a href="#" class="nav-link px-0 align-middle w-100"style="margin-left: 12px;margin-top:1px">
                      <i class="fa-solid fa-users"></i> 
                  </a>
              </li>
              <a href="#" class="pt-3 px-2 viewbtn w-100" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                <i class="fa-solid fa-right-from-bracket"></i>
              </a>
          </ul>
        </div>
    </div>
    <div class="col"> 
      <%= yield %>
    </div>
  </div>
</div>
