<header class="header-administrator-page">
  <nav class="navbar navbar-expand-sm navbar-top bg-body-tertiary">
    <div class="container-fluid">
      <div class="navbar-logo">
        <div class="dropdown">
          <button
            class="navbar-toggler btn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle Navigation"
            data-controller="admin"
          >
            <span class="navbar-toggle-icon">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="14"
                  viewBox="0 0 448 512"
                >
                  <path
                    d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
                  />
                </svg>
              </span>
            </span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>

        <a class="navbar-brand d-flex align-items-center" href="/administrator/dashboard">
          <img
            src="https://prium.github.io/phoenix/v1.13.0/assets/img/icons/logo.png"
            alt="phoenix"
            height="36"
          />
          <p class="logo-text ms-2 d-none d-sm-block fw-bold mb-0">phoenix</p>
        </a>
      </div>

      <!-- Avatar -->
      <div class="dropdown">
        <a
          class="nav-link show"
          id="navbarDropdownUser"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <div class="avatar">
            <%=
            image_tag('https://prium.github.io/phoenix/v1.13.0/assets/img/team/40x40/57.webp',
            alt: 'Avatar', class: 'rounded-circle') %>
          </div>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 shadow border border-300 dropdown-profile"
          style="margin: 10px"
          aria-labelledby="navbarDropdownUser"
        >
          <li>
            <div class="card position-relative border-0">
              <div class="card-body p-0">
                <div class="text-center pt-4 pb-3">
                  <div class="avatar-xl">
                    <%=
                    image_tag('https://prium.github.io/phoenix/v1.13.0/assets/img/team/40x40/57.webp',
                    alt: 'Avatar', class: 'rounded-circle') %>
                  </div>
                  <h6 class="mt-2 text-dark">Jerry Seinfield</h6>
                  <h6 class="mt-2 text-dark">Jerry Seinfield</h6>

                  <h6 class="mt-2 text-dark">Jerry Seinfield</h6>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
