<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if current_admin %>
	<p>Hello <%= current_admin.email %>!</p>
	<p>
			You have successfully authenticated with your Devise account.
			You are now ready to interact with this application.
	</p>
	<%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete %>
<% else %>
	<p>You are not signed in.</p>
	<%= link_to "Sign up!", new_admin_registration_path %>
	<br />
	<%= link_to "Login", new_admin_session_path %>
<% end %>
